h1 {
  color: blue;
  background-color: orange;
  font-size: xx-large;
}
body {
  font-family: Verdana, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}
p {
    text-wrap: pretty;  
}
.problem {
    background-color: #86e2b0;
    margin-left: 5%;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 2px; 
    font-size: large;
}
